/* Reponsive layout - Breakpoint 768px 
======================================================================*/
@media (min-width: 768px) {

  /* Header
  ====================================================================== */
  .header__heading {
    font-size: 2.2rem;
  }

  .header__title {
    margin-top: 5rem;
    font-size: 2.5rem;
  }

  .header__text {
    margin-bottom: 4rem;
  }

  /* Form
  ====================================================================== */
  fieldset {
    margin: 3rem 0;
  }

  .contact .form-group {
    display: flex;
    margin-bottom: 2.5rem;
  }

  .contact .form-group label {
    width: 40%;
  }

  .contact .form-group label span {
    display: block;
  }

  .contact .form-group:last-child label {
    width: 212px;
  }

  input#postal_code {
    width: 20%;
  }



}