/* Variables
====================================================================== */
:root {
  --color-gray-extra-dark: #222;
  --color-gray-dark: #555;
  --color-gray: #888;
  --color-gray-light: #bbb;
  --color-gray-extra-light: #eaeaea;
  --color-white: #f9f9f9;
  --color-focus: #0F0C8A;
  --color-highlight: #079CB0;
}


/* Resets
====================================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-gray-extra-dark);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

ul {
  list-style: none;
}



/* Utilities
====================================================================== */
.container {
  max-width: 768px;
  margin: 0 auto;
}


/* Header
====================================================================== */
.header {
  text-align: center;
}

.header__heading {
  background-color: var(--color-gray-extra-dark);
  color: var(--color-white);
  text-transform: uppercase;
  padding: 2rem;
}

.header__title {
  margin-top: 2rem;
  padding: 1rem;
}

.header__text {
  padding: 0 1rem 1rem;
  color: var(--color-gray);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.header__divider {
  height: 9px;
  border-top: 4px solid var(--color-gray-extra-dark);
  border-bottom: 2px solid var(--color-gray-extra-dark);
  margin: 0 1rem;
}



/* Form
====================================================================== */
form {
  padding: 1rem;
}

fieldset {
  border: none;
  padding-bottom: 3rem;
}

fieldset legend {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.5rem 0;
}

.contact {
  border-bottom: 2px solid var(--color-gray-extra-dark);
}

label {
  font-size: 1.5rem;
  color: var(--color-gray);
  margin: 1rem 0;
}

label span {
  font-size: 1.1rem;
  font-style: italic;
}

.form-selection {
  margin-bottom: 1rem;
}

.form-group label {
  margin: none;
}

label,
input {
  display: block;
}

.newsletter label,
.newsletter input {
  display: inline-block;
  width: unset;
  margin: 0.5rem;
}

.newsletter input {
  margin-right: 1rem;
}

input,
select,
textarea {
  width: 100%;
  border-radius: 3px;
  border: 2px solid transparent;
  background-color: var(--color-gray-extra-light);
  color: var(--color-gray);
  padding: 1.5rem 1rem;
  font-family: inherit;
  font-size: 1.5rem;
}

input#postal_code {
  width: 50%;
}

input::placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 1rem;
  color: var(--color-gray-light);
  font-size: 1.3rem;
}

input,
select,
textarea,
input[type="radio"],
input[type="checkbox"] {
  transition: all 0.5s;
  border: 2px solid transparent;
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid var(--color-focus);
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 2px solid var(--color-focus);
}


button,
button:active {
  display: block;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--color-highlight);
  color: var(--color-white);
  font-family: inherit;
  font-size: 2rem;
  padding: 1.5rem;
  transition: all 0.3s;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  margin: 2rem 0;
  color: var(--color-gray-dark);
  font-style: italic;
  text-align: center;
}



/* Reponsive layout - Breakpoint 768px 
======================================================================*/
@media (min-width: 768px) {

  /* Header
  ====================================================================== */
  .header__heading {
    font-size: 2.2rem;
  }

  .header__title {
    margin-top: 5rem;
    font-size: 2.5rem;
  }

  .header__text {
    margin-bottom: 4rem;
  }

  /* Form
  ====================================================================== */
  fieldset {
    margin: 3rem 0;
  }

  .contact .form-group {
    display: flex;
    margin-bottom: 2.5rem;
  }

  .contact .form-group label {
    width: 40%;
  }

  .contact .form-group label span {
    display: block;
  }

  .contact .form-group:last-child label {
    width: 212px;
  }

  input#postal_code {
    width: 20%;
  }

  .newsletter {
    margin-bottom: 0;
  }

}